# Digital DNA Verification

How unique identity is verified.